@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Noto+Sans+KR:wght@400;700&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/screen-header-alt.css";
@import "components/user-components.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
	font-family: "Noto Sans KR", "Open Sans", sans-serif;
	color: var(--default-color);
	padding-top: 45px;
	height: 90vh;
}

.main-screen {
	padding: 0 var(--horizontal-space);
}