#no-mobile {
	position: absolute;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	background-color: var(--kyellow);
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	font-size: 32px;
}

#no-landscape {
	position: absolute;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	background-color: var(--default-color);
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	font-size: 32px;
	color: white;
}

@media screen and (max-width: 640px) and (orientation: portrait) {
	#no-mobile {
		display: none;
	}
}

@media screen and (orientation: portrait) {
	#no-landscape {
		display: none;
	}
}